.parent{
	display: flex;
	flex-direction:row;
	/*justify-content:space-around;
	flex-wrap: wrap;*/
	flex-wrap: wrap;

}
/*.l,.m,.r{
	width: 10%;
	border: 20px solid blue;
	padding: 2%;
	margin: 1%;
	text-align: center;
}*/
.parent>div{
	width: 20%;
	border: 20px solid blue;
	/*padding: 2%;
	margin: 1%;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 20px 0px 20px 0px red;
}
img
{
	margin-left: auto;
	margin-right: auto;
width: 50%;
}
a{
	text-decoration: none;
	color: red;
	border: 20px;
	box-shadow: 2px 2px 2px 2px;
}
/* mobile view min width=320px and maxwidth 480px*/
@media only screen and (min-width:320px ) and (max-width:480px)
 .parent{
 	display:flex;
 	flex-direction:column;
 	width:100%;
 }

}
/* tab view min width=481px and maxwidth 760px
@media screen (min-width: ) and (max-width:)
desktop view min width=768px and maxwidth 1024px
@mediascreen (min-width:768px ) and (max-width:1028px)*/